                </section>
                <!-- /.content-section -->
            </div><!-- /.content-wrapper -->

            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 1.0
                </div>
                <strong>Copyright &copy; 2017 <a href="#">GolangCURD</a> .</strong> All rights reserved.
            </footer>
        </div>
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="/public/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="/public/plugins/bootstrap-select/js/bootstrap-select.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
        <script src="/public/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="/public/plugins/fastclick/fastclick.min.js"></script>
        <script src="/public/plugins/admin-lte-dist/js/app.min.js"></script>
</body>
</html>