<aside class="main-sidebar">
    <section class="sidebar">
        <!-- Sidebar user panel --> 
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/public/img/icons/ic-superuser.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{.session.loginName}}</p>
                <a href="#"><i class="fa fa-circle text-success"></i>{{.session.loginRole}}</a>
            </div>
        </div>

        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">Navigation</li>
            <li class="active">
                <a href="/">
                    <i class="fa fa-dashboard"></i><span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/employed/">
                    <i class="fa fa-rocket"></i><span>Employed</span>
                </a>
            </li>
            <li>
                <a href="/department/">
                    <i class="fa fa-android"></i><span>Department</span>
                </a>
            </li>
            <li>
                <a href="/adminctrl/logout/">
                    <i class="glyphicon glyphicon-log-out"></i><span><b>Sign Out</b></span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>