{{set . "title" "Employed"}}
{{template "template/header.html" .}}
<link rel="stylesheet" href="/public/plugins/datatables/dataTables.bootstrap.css">
<div class="row" >
    <div class="col-md-12 col-xs-12">
        <div class="box" style="height: 650px;">
            <div class="box-header">
              <h3 class="box-title">List Data Employed</h3>
            </div>
            <div class="row">
                <div class="col-xs-12" style="margin: 5px 0px 0px 12px;">
                    <span class="text-green">{{.flash.success}}</span>
                    <span class="text-red text-center">{{.flash.error}}</span>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Address</th>
                  <th>Photo</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {{range $index, $employed := .model.EmlpoyedList}}
                  <tr>
                      <td class="something">{{$employed.Id}}</td>
                      <td>{{$employed.Name}}</td>
                      <td>{{$employed.Email}}</td>
                      <td>{{$employed.Phone}}</td>
                      <td>{{$employed.Address}}</td>
                      <td>{{$employed.Photo}}</td>
                      <td>
                          <a class="btn bg-green" href="/employed/update/{{$employed.Id}}" ><i class="fa fa-pencil-square-o"></i> Edit </a>
                          <a class="btn bg-red" href="javascript:void(0);" onclick="warning('{{$employed.Id}}')" ><i class="fa fa-trash"></i> Delete </a>
                      </td>
                  </tr>
                {{end}}
                </tbody>

              </table>
               <a href="/employed/add"><button class="btn bg-blue pull-left">
                    Tambah Admin
                </button></a>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
{{template "template/footer.html" .}}
<script src="/public/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/public/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
  function warning(id){
      if (confirm('Delete Data Employed ?')) {
         window.location.href = "/employed/delete/"+id;
      } else {
      }
    }
  $( document ).ready(function() {
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": false,
      "info": false,
      "autoWidth": false
    });

  });
</script>
