{{set . "title" "Employed"}}
{{template "template/header.html" .}}
<div class="row" >
    <div class="col-md-12 col-xs-12">
        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Add Data Employed</h3>
            </div>
            <form method="POST" action='{{url "EmployedCtrl.UpdateAction"}}'>
            	{{with $field := field "id" .}}
				<input type="hidden" name="{{$field.Name}}" value="{{$.model.Employed.Id}}" class="form-control" id="id" required />
				{{end}}
            <div class="box-body">
          		<div class="row clearfix">
					<div class="col-md-6">
						<label for="name" class="control-label">Name</label>
						<div class="form-group">
							{{with $field := field "updateemployed.Name" .}}
							<input type="text" name="{{$field.Name}}" value="{{$.model.Employed.Name}}" class="form-control" id="name" required />
							{{end}}
						</div>
					</div>
					<div class="col-md-6">
						<label for="email" class="control-label">Email</label>
						<div class="form-group">
							{{with $field := field "updateemployed.Email" .}}
							<input type="email" name="{{$field.Name}}" class="form-control" id="email" value="{{$.model.Employed.Email}}" required/>
							{{end}}
						</div>
					</div>
					<div class="col-md-6">
						<label for="phone" class="control-label">Phone Number</label>
						<div class="form-group">
							{{with $field := field "updateemployed.Phone" .}}
							<input type="text" name="{{$field.Name}}" class="form-control" id="phone" value="{{$.model.Employed.Phone}}" required/>
							{{end}}
						</div>
					</div>
					<div class="col-md-6">
						<label for="address" class="control-label">Address</label>
						<div class="form-group">
							{{with $field := field "updateemployed.Address" .}}
							<input type="text" name="{{$field.Name}}" class="form-control" id="level" value="{{$.model.Employed.Address}}" required/>
							{{end}}
						</div>
					</div>
					<div class="col-md-6">
						<label for="photo" class="control-label">Foto</label>
						<div class="form-group">
							{{with $field := field "updateemployed.Photo" .}}
							<input type="text" name="{{$field.Name}}" class="form-control" id="photo" value="{{$.model.Employed.Photo}}" required/>
							{{end}}
						</div>
					</div>
				</div>
			</div>
          	<div class="box-footer">
            	<button type="submit" class="btn btn-success">
            		<i class="fa fa-check"></i> Save
            	</button>
          	</div>
            <!-- /.box-body -->

            </form>
        </div>
    </div>
</div>
{{template "template/footer.html" .}}
